body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3;
    margin: 0;
}

.container {
    text-align: center;
}

#birthdayBtn {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #ff6961;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

#confetti-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}

/* Estilos para os confetes */
.confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    animation: fall 3s linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(-100px);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh);
        opacity: 0;
    }
}
